.goods {
  padding: 40px 0 150px;
}

.goods__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  gap: 60px 20px;
  justify-content: space-around;
}

.good {
  position: relative;
}

.good__img {
  margin-bottom: 11px;
  width: 280px;
  height: 330px;
  object-fit: cover;
  object-position: top;
}

.good__favorite-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  fill: var(--color-white);
}

.good__favorite-btn.active svg {
  fill: var(--pink-color);
  opacity: 1;
}

.good__favorite-btn svg {
  transition: fill .3s ease-in-out, opacity .3s ease-in-out;
}

.good__favorite-btn:hover svg {
  fill: var(--pink-color);
  opacity: 0.5;
}

.good__favorite-btn:active svg {
  fill: var(--pink-color);
}

.good__favorite-btn:focus-visible svg {
  fill: var(--pink-color);
  opacity: 0.75;
}


.good__control-wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 130px;
  gap: 9px;
}

.good__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.good__to-cart {
  padding: 7px 17px;
  font-size: 14px;
  line-height: 17px;
}

.goods__price {
  font-weight: 500;
  line-height: 22px;
}

.goods__price-old {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.goods__price-old:after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(-4.334deg);
  background-color: var(--pink-color);
}

.goods__descr-text {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--main-color);
  transition: color .3s ease-in-out;
}

.goods__descr-text:hover {
  color: #464343;
}

.goods__descr-text::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 1px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: var(--main-color);
}

.goods__descr-text:active::after {
  display: none;
}

@media (max-width: 1000px) {
  .goods {
    padding: 40px 0 100px;
  }

  .goods__list {
    row-gap: 50px;
  }
}

@media (max-width: 760px) {
  .goods {
    padding: 40px 0 80px;
  }
}



